
.about-col-2 .information{
    font-size: 40px;
}
.about-col-1,.about-col-2{
    flex-basis: 100%;
}
.about-col-1{
    margin-bottom: 30px;
   
}
.about-col-2{
    font-size: 16px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}